{
    "extends": [
        "react-app"
    ],
    "plugins": [
        "react-hooks"
    ],
    "rules": {
        "react-hooks/rules-of-hooks": "error", // added "react-hooks/rules-of-hooks"
        "react-hooks/exhaustive-deps": "warn" // added "react-hooks/exhaustive-deps"
    }
}